body{
  padding-left: 16px;
}

.far, .fas, .fab{
  font-size: 5em;
  color: #000000;
}

.far:hover, .fas:hover, .fab:hover{
  color:#00000099;
}


.row{
  padding-top: 16px;
  padding-bottom: 16px;
  padding-right: 16px;
}

.pagetitle, .sectiontitle, #chart{
  padding-top: 16px;
}

.homepage-button{
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #aed9ff;
}
