.far, .fas, .fab{
  font-size: 5em;
  color: #000000;
}

.far:hover, .fas:hover, .fab:hover{
  color:#00000099;
}

.row{
  padding: 1em;
}

.pagetitle, .sectiontitle{
  padding-left: 0.5em;
  padding-top: 0.5em;
}
